*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'kumbh sans' sans-serif;

}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.2em;
    position:sticky;
    top: 0;
    z-index: 999;

}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 13px;
    max-width: 1300;
    margin: 0 auto;
    padding:0 50px;
}
#navbar__logo{
background-color:#ff8177 ;
background-image:linear-gradient(to top, #ff0844 0%, #ffb1 100%) ;
background-size:100% ;
-webkit-background-clip:text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color:transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5;
    
}
